@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap');
html,
body {
    margin: 0;
    min-height: 100%;
    font: normal normal normal 15px Heebo;
}

.column {
    width: 10%;
}

.index-column {
    width: 5%;
}

input[type=text],
input[type=password] {
    width: 441px;
    height: 30px;
    margin-bottom: 20px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-width: 0.5px;
}

p {
    margin: 5px;
}


/* modal */

.modal-hidden-edit {
    visibility: hidden;
    border: 1px solid #E3E4E8;
    border-radius: 10px;
    display: block;
    align-items: center;
    position: fixed;
    z-index: +1;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal-edit {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 100%;
    width: 100%;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.55;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: auto;
    /* display: flex; */
    align-items: center;
    z-index: 2 !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1.0) !important;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s !important;
}

.modal-content-edit {
    border: 1px solid #E3E4E8;
    background-color: #fff;
    border-radius: 10px;
    width: 35%;
    margin: auto;
    margin-top: 5%;
    /* height: 630px;
top: 50%;
left: 50%;
transform: translate(-50%, -70%); */
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
}

.close-button {
    color: #000000;
    border-radius: 50%;
    margin-bottom: 20px;
    width: 100%;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
}

.close-button:hover {
    background-color: rgb(95, 140, 89);
}

.modal-title {
    /* margin: auto; */
    top: 214px;
    left: 463px;
    height: 47px;
    text-align: left;
    font: normal normal bold 32px Heebo;
    letter-spacing: 0px;
    color: #0A558B;
    opacity: 1;
}